* {
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: 0.5s;
    background: #fff;
}

.button {
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    display: inline-block;
    cursor: pointer;
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#yellow {
    background-color: yellow;
}